<header class="page-header">
  <div class="header__main">
    <div class="header__title">
      <%= link_to "Aristotelēs", root_path %>
    </div>
    <div class="header__button">
      <%# buttonはあとでコンポーネントに置き換えたい %>
      <div class="header__username">Plato</div>
    </div>
  </div>
</header>