<h1>Welcome to Aristotelēs</h1>
<p>このアプリケーションを利用するには、アカウントを作成またはログインしてください。</p>

<%= link_to '新規登録', new_user_registration_path, class: 'btn btn-primary' %>
<%= link_to 'ログイン', new_user_session_path, class: 'btn btn-secondary' %>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>about Aristotelēs</h2>
      <p>このアプリケーションは、小説や映画など、読んだり観たりした作品を分析していくためのアプリケーションです。</p>
    </div>
    <div class="col-md-4">
      <h2>アプリケーションの機能</h2>
      <p>このアプリケーションには、以下の機能があります。</p>
      <ul>
        <li>ユーザー登録</li>
        <li>作品分析の投稿</li>
        <li>投稿した分析の閲覧・編集・削除</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h2>アプリケーションの目的</h2>
      <p>このアプリケーションは、物語を書くことを志す創作者に向けて、作品分析のサポートを目的としています。<br>作品分析を通じて物語の構造やキャラクター配置等を理解し、自身の物語作りに活かすことができます。</p>
    </div>
  </div>